.image-case {
	width:100%;
	height:100%;
	display:block;
	position: relative;
	object-fit: fill;
}
	
.info-case{
	position:absolute;
	width:16%;
	height:16%;
	left:79%;
	top:5%;
	display:block;
}

.bg-case{
background: url("/img/test.svg")  no-repeat; 
background-size: 200px 200px;
background-size: cover;
background-color: rgba(0,0,0,.1);
}

#avatars{
  width:300px;
  height: 300px;
  overflow-y: auto;
}
.avatars > input{
  display: none;
}

.avatars > input + img{
  cursor: pointer;
  border: 2px solid transparent;
}

.avatars > input:checked + img{
  border: 2px solid red;
}

input[type=range].RangeCSS {
  -webkit-appearance: none;
  width: 100%;
  margin: 13.8px 0;
}
input[type=range].RangeCSS:focus {
  outline: none;
}
input[type=range].RangeCSS::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #000000;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range].RangeCSS::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -14px;
}
input[type=range].RangeCSS:focus::-webkit-slider-runnable-track {
  background: #000000;
}
input[type=range].RangeCSS::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #000000;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range].RangeCSS::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range].RangeCSS::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range].RangeCSS::-ms-fill-lower {
  background: #000000;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range].RangeCSS::-ms-fill-upper {
  background: #000000;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range].RangeCSS::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  height: 8.4px;
}
input[type=range].RangeCSS:focus::-ms-fill-lower {
  background: #000000;
}
input[type=range].RangeCSS:focus::-ms-fill-upper {
  background: #000000;
}
