{% extends 'monTemplate.html.twig' %}
{% block header %}
{% endblock %}

{% block sidebar %}

<body class="is-preload">
    <!-- Sidebar -->
    <section id="sidebar">



        <div class="inner">
            <nav>
                <ul>
                    <li><a href="#creer">Créer & Consulter</a></li>
                    <li><a href="#inviter">Inviter & Rejoindre</a></li>
                    <li><a href="#jouer">Jouer</a></li>
                    <li><a href="#supprimer">Supprimer une partie</a></li>
                    <li><a href="#consulterPlateau">Consulter plateau</a></li>
                    <li><a href="#consulterCompte">Consulter, modifier, supprimer compte</a></li>
                    <li><a href="#inscrire">S'inscrire & se connecter</a></li>
                </ul>
            </nav>
        </div>
    </section>

{% endblock %}

{% block body %}
<div id="wrapper">
    <!-- Three -->
    <section id="intro" class="wrapper style1 fullscreen fade-up">

        <div class="inner">

          <div class="align-self-center iframe_container">
            <section id="creer">
              <h2>Créer une partie & Consulter ses paramètres</h2>
              <iframe width="560" height="315" src="https://www.youtube.com/embed/QIWBUjgr394" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </section>
          </div>
            <br>
            <br>

          <div class="align-self-center iframe_container">
            <section id="inviter">
              <h2>Inviter à une partie & Rejoindre une partie</h2>
              <iframe width="560" height="315" src="https://www.youtube.com/embed/LPtszQSy1ZM" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </section>
          </div>
            <br>
            <br>

          <div class="align-self-center iframe_container">
            <section id="jouer">
              <h2>Jouer une partie</h2>
              <iframe width="560" height="315" src="https://www.youtube.com/embed/wtIA3JtL2R0" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </section>
          </div>
            <br>
            <br>

          <div class="align-self-center iframe_container">
            <section id="supprimer">
              <h2>Supprimer une partie</h2>
              <iframe width="560" height="315" src="https://www.youtube.com/embed/BHromG7ZZW0" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </section>
          </div>
            <br>
            <br>

          <div class="align-self-center iframe_container">
            <section id="consulterPlateau">
              <h2>Consulter les plateaux</h2>
              <iframe width="560" height="315" src="https://www.youtube.com/embed/XC_Z50ljOBk" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </section>
          </div>
            <br>
            <br>

          <div class="align-self-center iframe_container">
            <section id="consulterCompte">
              <h2>Consulter & Modifier & Supprimer son compte</h2>
              <iframe width="560" height="315" src="https://www.youtube.com/embed/B08dmzSX4LY" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </section>
          </div>
            <br>
            <br>

          <div class="align-self-center iframe_container">
            <section id="inscrire">
              <h2>S'inscrire & Se connecter</h2>
              <iframe width="560" height="315" src="https://www.youtube.com/embed/asiqZcRsldY" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </section>
          </div>
            <br>
            <br>



        </div>
    </section>
</div>
{% endblock %}
