{% extends 'monTemplate.html.twig' %}
{% block header %}
{% endblock %}

{% block body %}
<div id="wrapper">
    <!-- Three -->
    <section id="intro" class="wrapper style1 fullscreen fade-up">
        <div class="inner">

        <h1>Les tutoriels sont en cours de production</h1>


        </div>
    </section>
</div>
{% endblock %}
