{% extends 'monTemplate.html.twig' %}
{% block header %}
{% endblock %}

{% block sidebar %}

<body class="is-preload">
    <!-- Sidebar -->
    <section id="sidebar">



        <div class="inner">
            <nav>
                <ul>
                    <li><a href="#creer">Créer</a></li>
                    <li><a href="#inviter">Inviter</a></li>
                </ul>
            </nav>
        </div>
    </section>

{% endblock %}

{% block body %}
<div id="wrapper">
    <!-- Three -->
    <section id="intro" class="wrapper style1 fullscreen fade-up">
        <div class="inner">

          <section id="creer">
            <h1>Créer une partie & Consulter ses paramètres</h1>
            <iframe width="600" height="500" src="https://www.youtube.com/embed/QIWBUjgr394" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </section>

          <section id="inviter">
            <h1>Inviter à une partie & Rejoindre une partie</h1>
            <iframe width="600" height="500" src="https://www.youtube.com/embed/QIWBUjgr394" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </section>


        </div>
    </section>
</div>
{% endblock %}
