{% extends 'monTemplate.html.twig' %}
{% block header %}
{% endblock %}

{% block body %}
<div id="wrapper">
    <!-- Three -->
    <section id="intro" class="wrapper style1 fullscreen fade-up">
        <div class="inner">

        <h1>But de l'application</h1>
        <p>L'application « Les Rois du » a pour but d'aider les enseignants notamment en leur permettant d'utiliser et de manipuler un support pédagogique, le plateau de jeu de société.</p>


        <p>Dans l'application,  l'enseignant crée ses propres plateaux afin de les proposer simultanément à ses élèves dans une même partie. Des tutoriels vidéos sont mis à disposition dans la rubrique <a href="{{path('aides')}}">Aide</a>, afin d'accompagner l'utilisateur dans ses actions : créer un compte, créer un plateau, une partie...</p>

          <ol>
            <strong>Il est donc possible de percevoir des intérêt divers à l'usage de cette application :</strong>
            <li>
              Permettre de développer, consolider ou évaluer des apprentissages à court terme (une ou plusieurs séances).
              En effet, les plateaux d'une partie peuvent faire intervenir des défis impliquant les connaissances (<i>ex : qu'est-ce qu'une solution acide ?</i>) et capacités (<i>ex : réaliser une dillution</i>) des élèves.
              Les élèves pourraient être mis en équipe et chaque équipe serait représentée par un pion. Lorsque l'équipe réussit le défi, alors elle peut rejouer. Le but pour le groupe serait d'être le plus avancé du plateau. Des plateaux différents pourront être proposés avec des défis plus ou moins complexes.
              L'historique de la partie permettra alors de voir le positionnement de chaque pion sur chaque plateau, permettant ainsi d'évaluer les niveaux des élèves.
           </li>
           <br>
           <li>
             Concrétiser un parcours de formation disciplinaire ou transcdisciplinaire (<i>ex : le S4C</i>) de l'élève à plus ou moins long terme (la séquence d'apprentissage, l'année, le cycle...).
             Il est donc possible de créer des plateaux où les cases représentent des niveaux de 	compétences à acquérir (<i>ex : Savoir récupérer des données/les reporter sur un tableur/ en 	déduire un constat...</i>). Ainsi, le pion est déplacé volontairement, symbolisant l'affinement des compétences de l'élève.
             L'historique de la partie permet à l'enseignant de regarder rapidement les élèves en difficulté 	dans leur parcours. L'enseignant peut aussi partager un visuel de la partie afin d'en informer 	ses élèves. Ces derniers pourront alors constater leur progression et ce qui est à venir.
           </li>
          </ol>

        <p>
          L'élève pourrait également avoir un compte ce qui pourrait enrichir ces possibilités (<i>ex : créer des parcours et y jouer avec les autres</i>). Veillez cependant à bien lire les <a href="{{path('CGU')}}">Conditions Générales d'Utilisation</a> .
        </p>

        <p>
          Pour finir, vous disposez de plateaux "exemple" qui ont été proposés et utilisés par des collègues dans plusieurs disciplines. Les possibilités de l'application n'auront pour limite que votre imagination et investissement.
        </p>

        <p>
          A tous les passionnés de l'éducation, à vous de jouer !
        </p>


        </div>
    </section>
</div>
{% endblock %}
