{% extends 'monTemplate.html.twig' %}

{% block header %}
{% endblock %}

{% block body %}
<div id="wrapper">
    <!-- Three -->
    <section id="intro" class="wrapper style1 fullscreen fade-up">
        <div class="inner">

            <h1>Conditions Générales d'Utilisation (CGU)</h1>
            <p>

                <h2>Définitions</h2>
                <ul>

                    <li><span style="text-decoration: underline;">Site</span> : Site ou application désigne le site Internet www.site-exemple.fr</li>
                    <li><span style="text-decoration: underline;">Utilisateur</span> : L’utilisateur est toute personne qui utilise le Site ou l’un des services proposés
                    sur le Site.</li>
                    <li><span style="text-decoration: underline;">Profil d'utilisateur</span> : L'utilisateur s’identifie soit en tant que créateur, soit comme invité.</li>
                    <li><span style="text-decoration: underline;">Créateur</span> : Le créateur est un utilisateur qui détient un compte lui permettant : de créer des
                    plateaux, créer et lancer des parties, jouer aux parties, inviter des utilisateurs, partager ses
                    plateaux avec les autres créateurs...</li>
                    <li><span style="text-decoration: underline;">Invité</span> : L'invité est un utilisateur qui n'a pas de compte. Il peut seulement jouer aux parties
                    lorsqu'il est invité.</li>
                    <li><span style="text-decoration: underline;">Avatar</span> : L'avatar représente le pseudo de l'utilisateur sur le site.</li>
                </ul>

            <h2>Conditions générales d'utilisation du "créateur"</h2>
            <p>
            L'utilisation de l'application « Les Rois du » au travers du profil de créateur,
            implique l'acceptation de conditions d'utilisation qui ont pour but d'informer et de
            sécuriser l'utilisateur.  Nous vous demandons alors de lire ces conditions puis de les accepter
            (en cochant la case en bas de page) à la création de votre compte.
            </p>


            <span style="text-decoration: underline;">Données personnelles (mail/nom d'avatar)</span> :
                <ul>
                  <li>
                    Le Mail : L'adresse mail sera exclusivement sollicitée afin de transmettre des informations utiles
                    au fonctionnement de l'application (inscription, connexion). Dès lors, l'hébergeur du serveur
                    en ligne s'engage à garder secrètement ces données.
                  </li>
                  <li>
                    L'Avatar : Les créateurs devront également trouver un nom pour leur avatar. Néanmoins, nous
                    demandons à ces derniers de ne pas renseigner de données personnelles (prénom, nom...). Ainsi,
                    les utilisateurs (et leurs garants, si la personne est mineure) se tiendront responsables en cas
                    de diffusion de ces données.
                  </li>
                </ul>

            <!-- A decommenter quand la suppression de compte sera fonctionnelle ! -->
             <span style="text-decoration: underline;">Droit de suppression du compte</span> :
	           Le créateur a le droit de supprimer son compte lorsqu'il le souhaite (rubrique mon compte).
            <!--Après 6 mois sans utilisation de l'application, le créateur recevra un mail lui proposant de
            maintenir l'existence de son compte, ou de le supprimer. S'il ne se connecte pas 2 semaines
            après réception du mail, son compte sera supprimé.   --><br><br>

            <span style="text-decoration: underline;">Création d'un compte par un mineur</span> :
            La création et l'utilisation d'un compte pour des personnes mineures peuvent être envisagées.
            Néanmoins, la personne devra être accompagnée par un adulte, responsable des actions du mineur. <br><br>


            <span style="text-decoration: underline;">Rester décent dans ses écrits</span> :
            La création de parties et de plateaux permet aux créateurs de nommer ces derniers. De plus,
            ils ont la possibilité d'écrire du texte sur les cases de leurs plateaux. Dès lors, les utilisateurs
            s'engagent à rester décents dans leurs écrits. Les propos formulés dans ces écrits tiendront pour
            responsable leurs auteurs. <br><br>

            <span style="text-decoration: underline;">Sécuriser son compte</span> :
            L’utilisateur doit sécuriser son compte (ex : ne pas le divulguer). Toute dérive constatée au travers
            du compte, tiendra pour responsable le titulaire, sauf s'il peut se disculper. <br><br>

            <span style="text-decoration: underline;">Invitation à des parties</span> :
            Le créateur a la possibilité de créer des parties et notamment d'inviter d'autres utilisateurs du site
            à jouer en utilisant un code. Ces parties étant privées, le créateur se tient responsable des utilisateurs qu'il invite.<br><br>

            <span style="text-decoration: underline;">Rejoindre des parties</span> :
            Nous tenons à rappeler que le joueur sera confronté à des écrits venant d'autres utilisateurs (nom de la partie,
            du plateau, des cases). Les propos écrits par l'ensemble des utilisateurs du site, tiennent pour responsable leurs auteurs.
            Nous ne pourrons pas être tenus responsables, si vous rencontrez des propos indécents.
	        Nous vous conseillons alors de rejoindre des parties dont vous connaissez les auteurs. <br><br>

            <span style="text-decoration: underline;">Droits d'auteurs sur la création</span> :
            La totalité des plateaux créés dans l'application appartiendront à l'hébergeur.<br><br>


            <h2>Conditions d'utilisation de "invité"</h2>
            <p>
            L'utilisation de l'application « Les Rois du » au travers du profil de l'invité,
            implique l'acceptation de conditions d'utilisation qui ont pour but d'informer et de
            sécuriser l'utilisateur. Nous vous demandons alors de lire ces conditions.
            </p>


            <span style="text-decoration: underline;">Suppression du profil invité</span> :
            Il est impossible de retrouver un compte utilisateur après toute déconnexion. Les comptes invités sont supprimés toutes les nuits à 4h00 UTC+1 <br><br>

            <span style="text-decoration: underline;">Utilisation du site (notamment par un mineur)</span> :
            L'utilisation du site pour des personnes mineures peut être envisagée. Néanmoins,
            la personne devra être accompagnée par un adulte, responsable des actions du mineur.
            Nous tenons à rappeler que le joueur sera confronté à des écrits venant d'autres
            utilisateurs (nom de la partie, du plateau, des cases). Les propos écrits par l'ensemble
            des utilisateurs du site, tiennent pour responsable leurs auteurs. Nous ne pourrons pas être
            tenus responsables, si vous rencontrez des propos indécents. Nous vous conseillons alors de
            rejoindre des parties dont vous connaissez les auteurs. <br><br>

            (Conditions Générales d'Utilisation écrites le 27/03/2020)

        </div>
    </section>
</div>
{% endblock %}
