{% extends 'monTemplate.html.twig' %}

{% block header %}
{% endblock %}

{% block body %}


<div id="wrapper">

                <!-- Intro -->
                
                <section id="intro" class="wrapper style1 fullscreen fade-up">
						<div class="inner">
                                <h1>Connexion</h1>
                                <form method="post" action="#">
                                        <div class="fields">
                                            <div class="field half">
                                                <label for="name">Adresse mail</label>
                                                <input type="text" name="name" id="name" />
                                            </div>
                                            <div class="field half">
                                                <label for="password">Mot de passe</label>
                                                <input type="password" name="password" id="password" />
                                            </div>
                                        </div>
                                        <ul class="actions">
                                            <li><a href="{{path ('hub')}}" class="button scrolly">SE CONNECTER</a></li>
                                        </ul>
                                    </form>

                                    <a href="{{path ('hub')}}"> Se connecter en tant qu'invité </a></li>
						</div>
					</section>

{% endblock %}