{% extends 'monTemplate.html.twig' %}

{% block header %}
{% endblock %}

{% block body %}
<div id="wrapper">
    <!-- Three -->
    <section id="intro" class="wrapper style1 fullscreen fade-up">
        <div class="inner">

            <h1>Crédits</h1>
            <div >
                <section>
                    <p>Cette application a été réalisée dans le cadre d'un projet tutoré de DUT Informatique à  <a
                            href="https://www.iutbayonne.univ-pau.fr/" title="Le site de l'IUT de Bayonne">l'IUT
                            de Bayonne </a> durant l'année universitaire 2019/2020.
                    </p>

                        L'équipe projet ayant réalisé la version 1.0 se compose de 4 étudiants de deuxième année :
                        <ul>
                            <li><a href="https://github.com/calbanel" title="GitHub de Clément Albanel"> Clément
                                    Albanel </a></li>
                            <li><a href="https://github.com/eauzi" title="GitHub de Emma Auzi"> Emma Auzi </a>
                            </li>
                            <li><a href="" title="GitHub de Bastien Benech">Bastien
                                    Benech </a></li>
                            <li><a href="https://github.com/Kiratof" title="GitHub de Christopher Grassi">
                                    Christopher Grassi </a></li>

                            <li> Et leur tuteur <a href="https://www.iutbayonne.univ-pau.fr/~marquesu">
                                Christophe Marquesuzaà  </a> (enseignant-chercheur en informatique)

                            </li>
                        </ul>


                        <p>L'idée principale vient de Chloé Beglot enseignante en EPS, qui s’est inspirée des mécaniques des
                        jeux de plateau. <br>
                        Elle a créé le jeu « Les rois du bad » pour le badminton. <br></p>


                        <p>Le projet a été réalisé en collaboration avec l'
                          <a href="https://www.universita.corsica/fr/" title="Le site de l'Université de Corse-Pascal-Paoli">Université de Corse-Pascal-Paoli</a> et commandité par Cyril Trigaux (étudiant en Master MEEF : de Métiers de
                        l’Enseignement, de l’Education et de la Formation) et son tuteur Yann Vacher (enseignant-chercheur en sciences de l'éducation) dans un but
                        pédagogique afin de démocratiser ce jeu et l'adapter à plusieurs disciplines.</p>


                        <p>Cette application web est libre de droits sous la licence Creative Commons et son code en libre accès
                        sur <a href="https://github.com/calbanel/LesRoisDu" title="Lien vers le github du projet">GitHub</a>. Nous avons utlisé le template Hyperspace du site <a href="https://html5up.net/"
                        title="HTML5 UP">HTML5 UP. </a> Les avatars disponibles sont le travail de <a href="https://pixabay.com/fr/users/coffeebeanworks-558718/"> Coffee Bean </a>
                        et ont été trouvés sur le site d'images libres de droits <a href="https://pixabay.com/fr/"> Pixabay. </a> </p>

                </section>

                <section>
                    <ul class="contact">
                        <li>
                            <h2>Contacts</h2>
                            <h3>Adresse</h3>
                            <span>
                                IUT de Bayonne et du Pays Basque <br>
                                2 Allée du Parc Montaury<br />
                                64600 Anglet <br>
                                <a href="https://www.iutbayonne.univ-pau.fr/"
                                    title="Le site de l'IUT de Bayonne">https://www.iutbayonne.univ-pau.fr/</a>
                                <br>
                            </span>
                        </li>
                        <li>
                            <h3>Mail</h3>
                            lesRoisDuDev@gmail.com
                        </li>

                        <li>
                            <h3>Social</h3>
                            <ul class="icons">
                                <li><a href="https://github.com/calbanel/LesRoisDu" class="icon brands fa-github"
                                        title="Notre projet sur GitHub"><span class="label">GitHub</span></a></li>
                                <li><a href="https://www.youtube.com/channel/UCJt6HC91PHyjfaxaxbsu-cA"
                                        class="icon brands fa-youtube" title="Nos tutos sur Youtube"><span
                                            class="label">Youtube</span></a>
                                </li>

                            </ul>
                        </li>
                    </ul>
                </section>

            </div>


            <div class="inner">
                <ul class="menu">
                    <li>© Untitled. All rights reserved.</li>
                    <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
                </ul>
            </div>
    </div>
{% endblock %}
