{% extends 'monTemplate.html.twig' %}

{% block sidebar %}
<body class="is-preload">
        <!-- Sidebar -->
            <section id="sidebar">
                <div class="inner">
                    <nav>
                        <ul>
                            <li><a href="{{path ('hub')}}">MENU</a></li>
                        </ul>
                    </nav>
                </div>
            </section>

{% endblock %}

{% block body %}
		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Intro -->
					<section id="intro" class="wrapper style1 fullscreen fade-up">
						  
                          


                        <div class="inner">
							<h1>ESPACE COMPTE</h1>
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-6">
                                        
                                         <h4> Adresse mail </h4>
                                        {{ app.user.username }}<br> 

                                        <br> <h4>Mot de passe </h4>
                                         <input type="password" name="AncienMdp" value="monancienmdp">
                                         
                                         <br> <h4> Changer de mot de passe </h4> 
                                         <input type="password" name="NouvauMdp">

                                             <br><h4> Changer d'avatar </h4> 
                                         <input type="text" name="ChangerAvatar"><br>

                                         <input type="button" name="validation" value ="VALIDER"> 
                                           
                                    </div>
                                    <div class="col-md-6">
                                        <center><h4> Avatar</h4>
                                        <img src={{utilisateur.avatar}} height=300px width=300px> 
                                         </center>
                                

                                    </div>
                                </div>
                            </div>


                            
                            





						</div>
					</section>

			</div>
{% endblock %}