{% extends 'monTemplate.html.twig' %}

{% block sidebar %}
<body class="is-preload">
        <!-- Sidebar -->
            <section id="sidebar">
                <div class="inner">
                    <nav>
                        <ul>
                            <li><a href="{{path ('hub')}}">HUB</a></li>
                        </ul>
                    </nav>
                </div>
            </section>

{% endblock %}

{% block body %}
		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Intro -->
					<section id="intro" class="wrapper style1 fullscreen fade-up">
						<div class="inner">
                            <h1>ESPACE PLATEAUX</h1>
                            
                            <section id="one" class="wrapper style2 spotlights">
                                    

                                <!-- Boucle pour chaque plateau (à rajouter)-->
                                
                                {% for plateau in plateaux %}
                                <section>
                                        <a href="#" class="image"><img src="images/pic03.jpg" alt="" data-position="center center" /></a>
                                        <div class="content">
                                            <div class="inner">
                                                <h2> {{plateau.nom}} </h2>
                                                <p> {{plateau.description}} </p>
                                                <ul class="actions">
                                                    <li><a href="{{path ('plateau', {'idPlateau': plateau.id}) }}" class="button">Consulter</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </section>

                                    <!-- Fin boucle -->
                                    {% endfor %}

						</div>
					</section>

                  
            </div>
           
           

{% endblock %}
