{% extends 'monTemplate.html.twig' %}

{% block sidebar %}
{% endblock %}

{% block body %}



		<!-- Wrapper -->
    <div id="wrapper">
          
        <section id="intro" class="wrapper style1 fullscreen fade-up">
						<div class="inner">

                                <h1>Bienvenue sur Les Rois du </h1>
                                <p>Editeur de plateaux de jeux pédagogiques</p>


                                <form method="post" action="#">
                                        <ul class="actions">
                                            <li><a href="{{path ('page_connexion')}}" class="button scrolly">SE CONNECTER</a></li>
                                        </ul>
                                 </form>
                                 <form method="post" action="#">
                                    <ul class="actions">
                                        <li><a href="{{path ('page_inscription')}}" class="button scrolly">S'INSCRIRE</a></li>
                                    </ul>
                                </form>
						</div>
					</section>



</div>
{% endblock %}