{% extends 'monTemplate.html.twig' %}




{% block sidebar %}
<body class="is-preload">
		<!-- Sidebar -->
			<section id="sidebar">
				<div class="inner">
					<nav>
						<ul>
                            
							<li><a href="{{ path('accueil')}}">ACCUEIL</a></li>
						</ul>
					</nav>
				</div>
			</section>

{% endblock %}

{% block body %}

<div id="wrapper">
<!-- Three -->
<section id="intro" class="wrapper style1 fullscreen fade-up">
        <div class="inner">

            <h2>S'inscrire</h2>
            <p>Si vous ne souhaitez pas vous inscrire vous pouvez vous connecter en tant qu'invité (dans la section "Connexion") sans rentrer vos informations personnelles.</p>
           
               
                    <form method="post" action="#">
                        <div class="fields">
                           
                           
                            <div class="field half">
                                    <label for="name">Nom</label>
                                    <input type="text" name="name" id="name" />
                            </div>
                            
                            <div class="field half">
                                    <label for="name">Prénom</label>
                                    <input type="text" name="name" id="name" />
                            </div>

                            <div class="field half">
                                <label for="name">Login</label>
                                <input type="text" name="name" id="name" />
                            </div>
                            <div class="field half">
                                <label for="email">Adresse mail</label>
                                <input type="text" name="email" id="email" />
                            </div>

                            <div class="field half">
                                    <label for="email">Mot de passe</label>
                                    <input type="text" name="email" id="email" />
                                </div>

                            <div class="field half">
                                    <label for="email">Confirmer mot de passe</label>
                                    <input type="text" name="email" id="email" />
                                </div>

                    </form>

        </div>

        <ul class="actions">
                <li><a href="" class="button submit">Valider l'inscription </a></li>
        </ul>

        

    </section>

{% endblock %}