{% extends 'monTemplate.html.twig' %}

{% block body %}

	

	{% set nbCases = 0 %}
	{% for uneCase in plateau.cases %}
		{% set nbCases = nbCases + 1 %}
	{% endfor %}

	<div class="container-fluid">
	<div class="row">
		<div class="col-md-1">

		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-4">
			<h1><center>{{plateau.nom}}</center></h1>
			<BR>
			<BR>
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
			<a role="button" href="{{ path('parametres_plateau', {'idPlateau' : plateau.id}) }}" class="btn btn-success">
				Paramètres
			</a>
		</div>
		<div class="col-md-1">
			 
			
		</div>
	</div>
	<div class="row">
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
			<img alt="Bootstrap Image Preview" src="https://image.noelshack.com/fichiers/2020/03/3/1579111241-32425.png" height=175 width=175/>
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
			<img alt="Bootstrap Image Preview" src="https://image.noelshack.com/fichiers/2020/03/3/1579111241-32425.png" height=175 width=175/>
		</div>
		<div class="col-md-1">
			<img alt="Bootstrap Image Preview" src="https://image.noelshack.com/fichiers/2020/03/3/1579111241-32425.png" height=175 width=175/>
		</div>
		<div class="col-md-1">
			<img alt="Bootstrap Image Preview" src="https://image.noelshack.com/fichiers/2020/03/3/1579111241-32425.png" height=175 width=175/>
		</div>
		<div class="col-md-1">
			<img alt="Bootstrap Image Preview" src="https://image.noelshack.com/fichiers/2020/03/3/1579111241-32425.png" height=175 width=175/>
		</div>
		<div class="col-md-1">
			<img alt="Bootstrap Image Preview" src="https://image.noelshack.com/fichiers/2020/03/3/1579111241-32425.png" height=175 width=175/>
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
	</div>
	<div class="row">
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
			<img alt="Bootstrap Image Preview" src="https://image.noelshack.com/fichiers/2020/03/3/1579111241-32425.png" height=175 width=175/>
		</div>
		<div class="col-md-1">
			<img alt="Bootstrap Image Preview" src="https://image.noelshack.com/fichiers/2020/03/3/1579111241-32425.png" height=175 width=175/>
		</div>
		<div class="col-md-1">
			<img alt="Bootstrap Image Preview" src="https://image.noelshack.com/fichiers/2020/03/3/1579111241-32425.png" height=175 width=175/>
		</div>
		<div class="col-md-1">
			<img alt="Bootstrap Image Preview" src="https://image.noelshack.com/fichiers/2020/03/3/1579111241-32425.png" height=175 width=175/>
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
			<img alt="Bootstrap Image Preview" src="https://image.noelshack.com/fichiers/2020/03/3/1579111241-32425.png" height=175 width=175/>
		</div>
		<div class="col-md-1">
			<img alt="Bootstrap Image Preview" src="https://image.noelshack.com/fichiers/2020/03/3/1579111241-32425.png" height=175 width=175/>
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
	</div>
	<div class="row">
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
	</div>
	<div class="row">
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
	</div>
</div>

{% endblock %}
