{% extends 'base.html.twig' %}

{% block body %}

	

	{% set nbCases = 0 %}
	{% for uneCase in plateau.cases %}
		{% set nbCases = nbCases + 1 %}
	{% endfor %}

	
	<div class="container-fluid">
	<div class="row">
		<div class="col-md-1">

		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-4">
			<h1><center>{{plateau.nom}}</center></h1>
			<BR>
			<BR>
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
			<a role="button" href="{{ path('parametres_plateau', {'idPlateau' : plateau.id}) }}" class="btn btn-success">
				Paramètres
			</a>
		</div>
		<div class="col-md-1">
			 
			
		</div>
	</div>

	{% if nbCases == 12 %}
	<div class="row">
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
			<img alt="Bootstrap Image Preview" src="https://nsa40.casimages.com/img/2020/01/25/200125020123380127.png" height=157 width=157/>
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
			<img alt="Bootstrap Image Preview" src="https://nsa40.casimages.com/img/2020/01/25/200125020123380127.png" height=157 width=157/>
		</div>
		<div class="col-md-1">
			<img alt="Bootstrap Image Preview" src="https://nsa40.casimages.com/img/2020/01/25/200125020123380127.png" height=157 width=157/>
		</div>
		<div class="col-md-1">
			<img alt="Bootstrap Image Preview" src="https://nsa40.casimages.com/img/2020/01/25/200125020123380127.png" height=157 width=157/>
		</div>
		<div class="col-md-1">
			<img alt="Bootstrap Image Preview" src="https://nsa40.casimages.com/img/2020/01/25/200125020123380127.png" height=157 width=157/>
		</div>
		<div class="col-md-1">
			<img alt="Bootstrap Image Preview" src="https://nsa40.casimages.com/img/2020/01/25/200125020123380127.png" height=157 width=157/>
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
	</div>
	<div class="row">
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
			<img alt="Bootstrap Image Preview" src="https://nsa40.casimages.com/img/2020/01/25/200125020123380127.png" height=157 width=157/>
		</div>
		<div class="col-md-1">
			<img alt="Bootstrap Image Preview" src="https://nsa40.casimages.com/img/2020/01/25/200125020123380127.png" height=157 width=157/>
		</div>
		<div class="col-md-1">
			<img alt="Bootstrap Image Preview" src="https://nsa40.casimages.com/img/2020/01/25/200125020123380127.png" height=157 width=157/>
		</div>
		<div class="col-md-1">
			<img alt="Bootstrap Image Preview" src="https://nsa40.casimages.com/img/2020/01/25/200125020123380127.png" height=157 width=157/>
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
			<img alt="Bootstrap Image Preview" src="https://nsa40.casimages.com/img/2020/01/25/200125020123380127.png" height=157 width=157/>
		</div>
		<div class="col-md-1">
			<img alt="Bootstrap Image Preview" src="https://nsa40.casimages.com/img/2020/01/25/200125020123380127.png" height=157 width=157/>
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
	</div>
	<div class="row">
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
	</div>
	<div class="row">
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
	</div>
</div>

{% endif %}

{% if nbCases == 13 %}
	<div class="row">
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
			<img alt="Bootstrap Image Preview" src="https://nsa40.casimages.com/img/2020/01/25/200125020123380127.png" height=157 width=157/>
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
			<img alt="Bootstrap Image Preview" src="https://nsa40.casimages.com/img/2020/01/25/200125020123380127.png" height=157 width=157/>
		</div>
		<div class="col-md-1">
			<img alt="Bootstrap Image Preview" src="https://nsa40.casimages.com/img/2020/01/25/200125020123380127.png" height=157 width=157/>
		</div>
		<div class="col-md-1">
			<img alt="Bootstrap Image Preview" src="https://nsa40.casimages.com/img/2020/01/25/200125020123380127.png" height=157 width=157/>
		</div>
		<div class="col-md-1">
			<img alt="Bootstrap Image Preview" src="https://nsa40.casimages.com/img/2020/01/25/200125020123380127.png" height=157 width=157/>
		</div>
		<div class="col-md-1">
			<img alt="Bootstrap Image Preview" src="https://nsa40.casimages.com/img/2020/01/25/200125020123380127.png" height=157 width=157/>
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
	</div>
	<div class="row">
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
			<img alt="Bootstrap Image Preview" src="https://nsa40.casimages.com/img/2020/01/25/200125020123380127.png" height=157 width=157/>
		</div>
		<div class="col-md-1">
			<img alt="Bootstrap Image Preview" src="https://nsa40.casimages.com/img/2020/01/25/200125020123380127.png" height=157 width=157/>
		</div>
		<div class="col-md-1">
			<img alt="Bootstrap Image Preview" src="https://nsa40.casimages.com/img/2020/01/25/200125020123380127.png" height=157 width=157/>
		</div>
		<div class="col-md-1">
			<img alt="Bootstrap Image Preview" src="https://nsa40.casimages.com/img/2020/01/25/200125020123380127.png" height=157 width=157/>
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
			<img alt="Bootstrap Image Preview" src="https://nsa40.casimages.com/img/2020/01/25/200125020123380127.png" height=157 width=157/>
		</div>
		<div class="col-md-1">
			<img alt="Bootstrap Image Preview" src="https://nsa40.casimages.com/img/2020/01/25/200125020123380127.png" height=157 width=157/>
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
	</div>
	<div class="row">
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
	</div>
	<div class="row">
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
	</div>
</div>

{% endif %}

{% if nbCases == 14 %}
	<div class="row">
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
			<img alt="Bootstrap Image Preview" src="https://nsa40.casimages.com/img/2020/01/25/200125020123380127.png" height=157 width=157/>
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
			<img alt="Bootstrap Image Preview" src="https://nsa40.casimages.com/img/2020/01/25/200125020123380127.png" height=157 width=157/>
		</div>
		<div class="col-md-1">
			<img alt="Bootstrap Image Preview" src="https://nsa40.casimages.com/img/2020/01/25/200125020123380127.png" height=157 width=157/>
		</div>
		<div class="col-md-1">
			<img alt="Bootstrap Image Preview" src="https://nsa40.casimages.com/img/2020/01/25/200125020123380127.png" height=157 width=157/>
		</div>
		<div class="col-md-1">
			<img alt="Bootstrap Image Preview" src="https://nsa40.casimages.com/img/2020/01/25/200125020123380127.png" height=157 width=157/>
		</div>
		<div class="col-md-1">
			<img alt="Bootstrap Image Preview" src="https://nsa40.casimages.com/img/2020/01/25/200125020123380127.png" height=157 width=157/>
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
	</div>
	<div class="row">
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
			<img alt="Bootstrap Image Preview" src="https://nsa40.casimages.com/img/2020/01/25/200125020123380127.png" height=157 width=157/>
		</div>
		<div class="col-md-1">
			<img alt="Bootstrap Image Preview" src="https://nsa40.casimages.com/img/2020/01/25/200125020123380127.png" height=157 width=157/>
		</div>
		<div class="col-md-1">
			<img alt="Bootstrap Image Preview" src="https://nsa40.casimages.com/img/2020/01/25/200125020123380127.png" height=157 width=157/>
		</div>
		<div class="col-md-1">
			<img alt="Bootstrap Image Preview" src="https://nsa40.casimages.com/img/2020/01/25/200125020123380127.png" height=157 width=157/>
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
			<img alt="Bootstrap Image Preview" src="https://nsa40.casimages.com/img/2020/01/25/200125020123380127.png" height=157 width=157/>
		</div>
		<div class="col-md-1">
			<img alt="Bootstrap Image Preview" src="https://nsa40.casimages.com/img/2020/01/25/200125020123380127.png" height=157 width=157/>
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
	</div>
	<div class="row">
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
	</div>
	<div class="row">
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
	</div>
</div>

{% endif %}

{% if nbCases == 15 %}
	<div class="row">
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
			<img alt="Bootstrap Image Preview" src="https://nsa40.casimages.com/img/2020/01/25/200125020123380127.png" height=157 width=157/>
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
			<img alt="Bootstrap Image Preview" src="https://nsa40.casimages.com/img/2020/01/25/200125020123380127.png" height=157 width=157/>
		</div>
		<div class="col-md-1">
			<img alt="Bootstrap Image Preview" src="https://nsa40.casimages.com/img/2020/01/25/200125020123380127.png" height=157 width=157/>
		</div>
		<div class="col-md-1">
			<img alt="Bootstrap Image Preview" src="https://nsa40.casimages.com/img/2020/01/25/200125020123380127.png" height=157 width=157/>
		</div>
		<div class="col-md-1">
			<img alt="Bootstrap Image Preview" src="https://nsa40.casimages.com/img/2020/01/25/200125020123380127.png" height=157 width=157/>
		</div>
		<div class="col-md-1">
			<img alt="Bootstrap Image Preview" src="https://nsa40.casimages.com/img/2020/01/25/200125020123380127.png" height=157 width=157/>
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
	</div>
	<div class="row">
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
			<img alt="Bootstrap Image Preview" src="https://nsa40.casimages.com/img/2020/01/25/200125020123380127.png" height=157 width=157/>
		</div>
		<div class="col-md-1">
			<img alt="Bootstrap Image Preview" src="https://nsa40.casimages.com/img/2020/01/25/200125020123380127.png" height=157 width=157/>
		</div>
		<div class="col-md-1">
			<img alt="Bootstrap Image Preview" src="https://nsa40.casimages.com/img/2020/01/25/200125020123380127.png" height=157 width=157/>
		</div>
		<div class="col-md-1">
			<img alt="Bootstrap Image Preview" src="https://nsa40.casimages.com/img/2020/01/25/200125020123380127.png" height=157 width=157/>
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
			<img alt="Bootstrap Image Preview" src="https://nsa40.casimages.com/img/2020/01/25/200125020123380127.png" height=157 width=157/>
		</div>
		<div class="col-md-1">
			<img alt="Bootstrap Image Preview" src="https://nsa40.casimages.com/img/2020/01/25/200125020123380127.png" height=157 width=157/>
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
	</div>
	<div class="row">
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
	</div>
	<div class="row">
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
	</div>
</div>

{% endif %}

{% if nbCases == 16 %}
	<div class="row">
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
			<img alt="Bootstrap Image Preview" src="https://nsa40.casimages.com/img/2020/01/25/200125020123380127.png" height=157 width=157/>
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
			<img alt="Bootstrap Image Preview" src="https://nsa40.casimages.com/img/2020/01/25/200125020123380127.png" height=157 width=157/>
		</div>
		<div class="col-md-1">
			<img alt="Bootstrap Image Preview" src="https://nsa40.casimages.com/img/2020/01/25/200125020123380127.png" height=157 width=157/>
		</div>
		<div class="col-md-1">
			<img alt="Bootstrap Image Preview" src="https://nsa40.casimages.com/img/2020/01/25/200125020123380127.png" height=157 width=157/>
		</div>
		<div class="col-md-1">
			<img alt="Bootstrap Image Preview" src="https://nsa40.casimages.com/img/2020/01/25/200125020123380127.png" height=157 width=157/>
		</div>
		<div class="col-md-1">
			<img alt="Bootstrap Image Preview" src="https://nsa40.casimages.com/img/2020/01/25/200125020123380127.png" height=157 width=157/>
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
	</div>
	<div class="row">
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
			<img alt="Bootstrap Image Preview" src="https://nsa40.casimages.com/img/2020/01/25/200125020123380127.png" height=157 width=157/>
		</div>
		<div class="col-md-1">
			<img alt="Bootstrap Image Preview" src="https://nsa40.casimages.com/img/2020/01/25/200125020123380127.png" height=157 width=157/>
		</div>
		<div class="col-md-1">
			<img alt="Bootstrap Image Preview" src="https://nsa40.casimages.com/img/2020/01/25/200125020123380127.png" height=157 width=157/>
		</div>
		<div class="col-md-1">
			<img alt="Bootstrap Image Preview" src="https://nsa40.casimages.com/img/2020/01/25/200125020123380127.png" height=157 width=157/>
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
			<img alt="Bootstrap Image Preview" src="https://nsa40.casimages.com/img/2020/01/25/200125020123380127.png" height=157 width=157/>
		</div>
		<div class="col-md-1">
			<img alt="Bootstrap Image Preview" src="https://nsa40.casimages.com/img/2020/01/25/200125020123380127.png" height=157 width=157/>
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
	</div>
	<div class="row">
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
	</div>
	<div class="row">
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
	</div>
</div>

{% endif %}

{% if nbCases == 17 %}
	<div class="row">
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
			<img alt="Bootstrap Image Preview" src="https://nsa40.casimages.com/img/2020/01/25/200125020123380127.png" height=157 width=157/>
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
			<img alt="Bootstrap Image Preview" src="https://nsa40.casimages.com/img/2020/01/25/200125020123380127.png" height=157 width=157/>
		</div>
		<div class="col-md-1">
			<img alt="Bootstrap Image Preview" src="https://nsa40.casimages.com/img/2020/01/25/200125020123380127.png" height=157 width=157/>
		</div>
		<div class="col-md-1">
			<img alt="Bootstrap Image Preview" src="https://nsa40.casimages.com/img/2020/01/25/200125020123380127.png" height=157 width=157/>
		</div>
		<div class="col-md-1">
			<img alt="Bootstrap Image Preview" src="https://nsa40.casimages.com/img/2020/01/25/200125020123380127.png" height=157 width=157/>
		</div>
		<div class="col-md-1">
			<img alt="Bootstrap Image Preview" src="https://nsa40.casimages.com/img/2020/01/25/200125020123380127.png" height=157 width=157/>
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
	</div>
	<div class="row">
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
			<img alt="Bootstrap Image Preview" src="https://nsa40.casimages.com/img/2020/01/25/200125020123380127.png" height=157 width=157/>
		</div>
		<div class="col-md-1">
			<img alt="Bootstrap Image Preview" src="https://nsa40.casimages.com/img/2020/01/25/200125020123380127.png" height=157 width=157/>
		</div>
		<div class="col-md-1">
			<img alt="Bootstrap Image Preview" src="https://nsa40.casimages.com/img/2020/01/25/200125020123380127.png" height=157 width=157/>
		</div>
		<div class="col-md-1">
			<img alt="Bootstrap Image Preview" src="https://nsa40.casimages.com/img/2020/01/25/200125020123380127.png" height=157 width=157/>
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
			<img alt="Bootstrap Image Preview" src="https://nsa40.casimages.com/img/2020/01/25/200125020123380127.png" height=157 width=157/>
		</div>
		<div class="col-md-1">
			<img alt="Bootstrap Image Preview" src="https://nsa40.casimages.com/img/2020/01/25/200125020123380127.png" height=157 width=157/>
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
	</div>
	<div class="row">
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
	</div>
	<div class="row">
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
	</div>
</div>

{% endif %}

{% if nbCases == 18 %}
	<div class="container-fluid">
	<div class="row">
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1 bg-case">
			<img alt="Info case" src="https://image.flaticon.com/icons/png/512/61/61093.png" class="info-case img-fluid"/>
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1 bg-case">
			<img alt="Info case" src="https://image.flaticon.com/icons/png/512/61/61093.png" class="info-case img-fluid"/>		
		</div>
		<div class="col-md-1 bg-case">
			<img alt="Info case" src="https://image.flaticon.com/icons/png/512/61/61093.png" class="info-case img-fluid"/>		
		</div>
		<div class="col-md-1 bg-case">
			<img alt="Info case" src="https://image.flaticon.com/icons/png/512/61/61093.png" class="info-case img-fluid"/>		
		</div>
		<div class="col-md-1 bg-case">
			<img alt="Info case" src="https://image.flaticon.com/icons/png/512/61/61093.png" class="info-case img-fluid"/>		
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1 bg-case">
			<img alt="Info case" src="https://image.flaticon.com/icons/png/512/61/61093.png" class="info-case img-fluid"/>		
		</div>
		<div class="col-md-1 bg-case">
			<img alt="Case du plateau" src="https://nsa40.casimages.com/img/2020/01/26/200126052425362646.png" class="image-case img-fluid"/>
			<img alt="Info case" src="https://image.flaticon.com/icons/png/512/61/61093.png" class="info-case img-fluid"/>		</div>
	</div>
	<div class="row">
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1 bg-case">
			<img alt="Info case" src="https://image.flaticon.com/icons/png/512/61/61093.png" class="info-case img-fluid"/>		
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1 bg-case">
			<img alt="Info case" src="https://image.flaticon.com/icons/png/512/61/61093.png" class="info-case img-fluid"/>		
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1 bg-case">
			<img alt="Info case" src="https://image.flaticon.com/icons/png/512/61/61093.png" class="info-case img-fluid"/>		
		</div>
		<div class="col-md-1 bg-case">
			<img alt="Info case" src="https://image.flaticon.com/icons/png/512/61/61093.png" class="info-case img-fluid"/>		
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1 bg-case">
			<img alt="Case du plateau" src="https://nsa40.casimages.com/img/2020/01/26/200126052425362646.png" class="image-case img-fluid"/>
			<img alt="Info case" src="https://image.flaticon.com/icons/png/512/61/61093.png" class="info-case img-fluid"/>		</div>
		<div class="col-md-1">
		</div>
	</div>
	<div class="row">
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1 bg-case">
			<img alt="Info case" src="https://image.flaticon.com/icons/png/512/61/61093.png" class="info-case img-fluid"/>		</div>
		<div class="col-md-1 bg-case">
			<img alt="Info case" src="https://image.flaticon.com/icons/png/512/61/61093.png" class="info-case img-fluid"/>		</div>
		<div class="col-md-1 bg-case">
			<img alt="Info case" src="https://image.flaticon.com/icons/png/512/61/61093.png" class="info-case img-fluid"/>		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-1 bg-case">
			<img alt="Info case" src="https://image.flaticon.com/icons/png/512/61/61093.png" class="info-case img-fluid"/>		</div>
		<div class="col-md-1 bg-case">
			<img alt="Info case" src="https://image.flaticon.com/icons/png/512/61/61093.png" class="info-case img-fluid"/>		</div>
		<div class="col-md-1 bg-case">
			<img alt="Case du plateau" src="https://nsa40.casimages.com/img/2020/01/26/200126052425362646.png" class="image-case img-fluid"/>
			<img alt="Info case" src="https://image.flaticon.com/icons/png/512/61/61093.png" class="info-case img-fluid"/>		</div>
		<div class="col-md-1">
		</div>
	</div>
</div>

{% endif %}

{% endblock %}
